body{
    font-family:Verdana,Geneva,Tahoma,sans-serif;
    background: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
}

.container{
    background: white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.2);
    width:380px;
    text-align:center;
}

h1{
    margin:0 0 20px;
    color:#333;
}
form{
    display: flex;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
}

button {
    padding: 10px;
    border: none;
    background-color: #cf41c5;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #880a79;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #d6f2fa;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.completed {
    text-decoration: line-through;
    background: #d1f4d9;
}

button.delete {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #cf071b;
}
